/* ==========================================================================
   4. Components
   ========================================================================== */

/* Card */
.card {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--card-background-color);
    display: flex;
    flex-direction: column;
}

.card__box-shadow {
    box-shadow: 0 0 8px #9fa8da, 0 0 16px var(--primary-color-light);
}

/* Button */
.button {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: #e8eaf6;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    box-shadow: 0 0 8px var(--primary-color);
}

.button:hover {
    background-color: #fff;
}

.button:active {
    background-color: var(--card-background-color);
}

.button svg {
    fill: var(--secondary-color);
}

/* Logo */
.logo {
    font-size: var(--fs-xl);
    color: var(--secondary-color);
    font-weight: 900;
    padding: 1rem;
    cursor: pointer;
}

/* Flex Utility */
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-radius: 1rem;
    padding: .5rem .5rem;
    box-shadow: 0 0 8px hsla(0, 0%, 20%, 0.467);
}

.flex-row-center:hover {
    box-shadow: 0 0 8px var(--social-color);
}

.flex-row-center:active {
    box-shadow: inset 0 0 8px var(--social-color);
}