/* ==========================================================================
   9. Footer Section
   ========================================================================== */

.cv__footer>section {
    display: flex;
    flex-direction: column;
}

.cv__footer>section>div a {
    text-decoration: none;
    color: inherit;
}

.cv__footer>a:visited {
    text-decoration: none;
}

.cv__footer span {
    font-weight: bold;
    font-size: var(--fs-sm);
}

.cv__footer svg {
    fill: var(--linkedin-color);
}

.cv__social__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 1rem;
}

.cv__social__list>a {
    flex-direction: row;
}

.cv__social__item--whatsapp {
    --social-color: var(--whatsapp-color);
}

.cv__social__item--github {
    --social-color: var(--github-color);
}

.cv__social__item--linkedin {
    --social-color: var(--linkedin-color);
}

.cv__footer__copyright {
    background-color: var(--card-background-color);
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    padding: 0.5rem 0 0;
    text-align: center;
    margin-top: 8px;
}

.cv__footer__copyright-text {
    font-size: var(--fs-sm);
}