/* ==========================================================================
   3. Layout
   ========================================================================== */

.cv {
    display: flex;
    flex-flow: column;
    padding: 0rem 8rem 0rem 8rem;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
}

.cv__main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cv__header {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0.1rem;
    border-bottom: 1px solid var(--text-color);
    border-radius: 1rem;
}

.cv__nav {
    display: flex;
    background-color: var(--card-background-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    border-left: 1px solid var(--text-color);
    border-radius: 1rem;
    flex: 4 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

aside {
    padding: 1rem 1rem;
    border-right: 1px solid var(--text-color);
    border-radius: 1rem;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv__footer {
    display: flex;
    flex-flow: column;
    border-top: 1px solid var(--text-color);
    border-radius: 1rem;
    padding: 1rem 0rem 0rem 0rem;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

section {
    scroll-margin-top: 84px;
}