/* ==========================================================================
   6. Navigation Section
   ========================================================================== */

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

nav li {
    list-style: none;
}

nav li>a {
    padding: 1rem;
    width: 100%;
    display: block;
    border-radius: 1rem;
    list-style: none;
}

nav li>a:hover {
    font-size: var(--fs-base);
    font-weight: bold;
    color: var(--primary-color);
    background-color: #c5cae988;
    transition: 0.3s;
}

nav li>a:active {
    color: #607d8b;
}

.nav__burger {
    display: none;
    cursor: pointer;
}

.nav__burger>svg {
    display: inline;
}