/* ==========================================================================
   11. Media Queries
   ========================================================================== */

@media (max-width: 1199.98px) {
    .cv {
        padding: 0rem 4rem 0rem 4rem;
    }

    .cv__header {
        flex-direction: column;
    }

    .cv__main-container {
        flex-direction: column;
    }

    aside,
    main,
    .cv__footer {
        flex-basis: auto;
    }

    /* Navigation */
    .cv__nav {
        justify-content: flex-start;
        align-items: center;
    }

    .cv__nav > h2 {
        text-align: left;
        flex: 1;
    }

    .cv__nav__burger {
        display: block;
        flex: 1;
        text-align: right;
        z-index: 1001;
    }

    .cv__nav__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--card-background-color);
        z-index: 1000;
        padding: 2rem;
        transition: left 0.3s ease-in-out;
    }

    .cv__nav__items.active {
        left: 0;
    }

    .cv__nav__items li a {
        font-size: var(--fs-xl);
    }

    .cv__nav__burger.open svg path:nth-child(3) {
        transform: rotate(45deg) translate(5px, -7px);
    }

    .cv__nav__burger.open svg path:nth-child(1) {
        opacity: 0;
    }

    .cv__nav__burger.open svg path:nth-child(2) {
        transform: rotate(-45deg) translate(-13px, 0px);
    }

    .cv__nav__burger svg path {
        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
    }
}

@media (max-width: 991.98px) {
    .cv__social__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

/* For large screens and up, use 3 columns */
@media (min-width: 1366px) {
    .cv__projects__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .cv__projects__container--doble {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .cv {
        padding: 0rem 2rem 0rem 2rem;
    }

    .cv__social__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 1rem 0.5rem;
    }

    .flex-row-center {
        flex-direction: column;
        gap: 0.5rem;
    }

    .cv__education__item {
        flex-direction: column;
        align-items: flex-start;
    }
}
